.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
}
.assign-title{
     margin-left: 10px; 
}
nav li{
    list-style: none;
    margin-right: 50px;
}
.btn-1{
    font-weight: 600px;
    font-size: 18px;
    border-radius: 5px;
    color:#006A50 ;
    margin-right: 0px;
    margin-top: 10px;
    border-color: #006A50;
    background-color: white;
}
/* banner section */
.banner{
    display:flex;
}
.banner-title{
    font-weight: 16px;
    font-size:16px;
    color: rgba(14, 14, 14, 0.5);
    margin-right: 6px;
}
.banner-description{
    font-weight:bold;
    font-size: 56px;
    color: #0E0E0E;
    margin: 5px;
    margin-bottom: 5px;
}
div li{
    list-style: none;
}
.btn-2{
    font-weight: 600px;
    font-size: 18px;
    color:white;
    background-color: #006A50;
    border-radius: 5px;
    padding: 18px;
    border-style: none;

}
.banner{
    background-color: #3C916A;
    margin-bottom:70px;
    
}
 header{
    /* max-width:580px; */
    max-width: 1140px;
    margin: 0 auto;
}
.banner-text{
    margin-left: 55px;
    margin-bottom: 105px;
    margin-top: 115px;
}
.banner{
    border-radius: 10px;
    /* margin-top: 19px;
    margin-left: 55px; */
}
/* main-section-1 part */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.section-items{
    display: flex;
    gap: 24px;
    margin-bottom: 60px;
}
.section-item{
    padding: 30px;
     box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 1px solid #D5D6D8;
}
.section-title-1{
    margin-bottom: 25px;
}
.section-item-title{
    font-weight:800px;
    font-size: 20px;
    color: #0E0E0E;
}
.section-item-description{
    font-weight:400px;
    font-size: 16px;
    color: #0E0E0E;
}